body {
  background-color: #f5f5f5;
  margin: 0;
  padding: 0;
  width: 100%;
}

.Card {
	background-color: white;
	border: 1px solid black;
	border-radius: 0.2em;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	user-select: none;
	/* offset so it's like a hand */
	margin-left: -48px;
	/* to make selection work (translateY) */
	height: 94px;
	/* fixed width */
	width: 68px;
	transition:all ease-in-out 0.1s;
	transform: translateZ(0);
}
.Card--selected {
	background-color: #FFF59D;
	transform: translateY(-10px);
}
.Card--red {
	color: #F44336;
}
	.Card-value {
		margin-left: 3px;
	}
	.Card-suit {
		margin-left: 2px;
	}

.Hand {
	background-color: lightgray;
	display: inline-flex;
	flex: 0 1 auto;
	flex-direction: row;
	min-width: 720px;
	justify-content: center;
}

.Shengji {
	align-items: center;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.PlayingField {
	flex: 1;
}
